.disabled .product__card {
  border: 4px solid $color-pink-swan;
}

.disabled .product__card > p,
.disabled .product__card > h2,
.disabled .product__card > h3 {
  color: $color-pink-swan;
  opacity: 0.5;
}

.disabled .product__card::after {
  position: absolute;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-white-smoke;
  z-index: -1;
}

.disabled .product__card::before {
  background-color: $color-pink-swan;
}

.disabled .product__number {
  background-color: $color-pink-swan;
}

.disabled p {
  color: $color-laser-lemon;
}
