.product {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  color: $color-default-black;
  background-image: url("../img/background/pattern.png");

  @include retina {
    background-image: url("../img/background/pattern@2x.png");
    background-size: contain;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $background;
  }
}

.product__container {
  padding-top: 40px;
  padding-bottom: 67px;

  display: flex;
  flex-direction: column;
  position: relative;

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.product__container h1 {
  margin: 0 0 21px;

  font-family: $ff-exo20;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: $color-default-white;
  text-shadow: 0 1px 1px #000000;
}

.product__list {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  list-style-type: none;

  @include vp-1023 {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.product__item {
  max-width: 320px;
  width: 100%;

  @include vp-1023 {
    margin: 3%;
  }
}

.product__item:focus-visible {
  outline: none;
}

.product__item:focus-visible:not(.disabled):not(.selected) .product__card {
  border: 4px solid $color-summer-sky;
  outline: none;
}

.product__item:focus-visible:not(.disabled):not(.selected) .product__card::before {
  background-color: $color-summer-sky;
}

.product__item:focus-visible:not(.disabled):not(.selected) .product__number {
  background-color: $color-summer-sky;
}

.product__item:hover:not(.disabled):not(.selected) .product__card::before {
  background-color: $color-summer-sky;
}

.product__item:hover:not(.disabled):not(.selected) .product__card {
  border: 4px solid $color-summer-sky;
}

.product__item:hover:not(.disabled):not(.selected) .product__number {
  background-color: $color-summer-sky;
}

.product__card {
  padding: 19px 48px 100%;
  margin: 0 0 15px;
  max-height: 480px;

  position: relative;

  background-color: $color-white-smoke;
  border: 4px solid $color-pacific-blue;
  border-radius: 12px;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0% 9%);

  background-image: url("../img/background/cat.png");
  background-repeat: no-repeat;
  background-position: -4px 205px;

  cursor: pointer;

  @include retina {
    background-image: url("../img/background/cat@2x.png");
    background-size: contain;
  }

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: 15px;

    width: 6px;
    height: 70px;

    background: $color-pacific-blue;
    display: block;

    transform: rotate(45deg);
  }
}

.product__card h2 {
  margin: 0 0 5px;

  font-family: $ff-trebuchet-ms;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-dim-gray;
}

.product__card h3 {
  margin: 0;

  font-family: $ff-trebuchet-ms;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: inherit;
}

.product__item .product__card p {
  text-align: start;
}

.product__card p:first-of-type {
  margin: 0 0 15px;

  font-family: $ff-trebuchet-ms;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

.product__card p:last-of-type {
  margin: 0;

  font-family: $ff-trebuchet-ms;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-dim-gray;
}

.product__number {
  padding: 21px 0 0 0;

  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  color: $color-default-white;
  text-align: center;
  background-color: $color-pacific-blue;
}

.product__number b {
  margin: 0;

  font-family: $ff-trebuchet-ms;
  font-weight: 400;
  font-size: 42px;
  line-height: 22px;

  color: $color-default-white;
}

.product__card .product__number > p {
  margin: 0;

  font-family: $ff-trebuchet-ms;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
  text-align: center;

  color: $color-default-white;
}

.product__item p {
  margin: 0;

  font-family: $ff-trebuchet-ms;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  text-align: center;
  color: $color-default-white;
}

.product__item span {
  cursor: pointer;
  color: $color-pacific-blue;
  text-decoration: underline;
  text-decoration-style: dashed;
}
